body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.container {
    width: 91.11111%;
    margin: auto;
}


/* ----------------------------------- HEADER ----------------------------------- */

.header {
    position: fixed;
    background: #172231;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    top: 0;
    z-index: 100000;
}

.logo {
    float: left;
    margin-right: 3px;
}

.header .container h1 {
    float: left;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-top: 10.5px;
}

.navbar {
    list-style: none;
    margin: 0;
    float: right;
}

.navbar li {
    float: left;
}

.destaque {
    color: #B1925D;
}

li a,
.dropBtn {
    display: inline-block;
    color: inherit;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdownConteudo a {
    border-radius: 10px;
}

.dropdownConteudo a {
    margin-top: 0;
}

li a:hover,
.dropdown:hover .dropBtn {
    background-color: #FFFFFF11;
    transition: 0.3s;
}

li .dropdown {
    display: inline-block;
}

.dropdownConteudo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
    border-radius: 0 10px 10px 10px;
}

.dropdownConteudo a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownConteudo a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdownConteudo {
    display: block;
}

.separador {
    width: 2px;
    background-color: #FFFFFF;
    height: 24px;
    float: left;
    margin: 32px 16px 0 16px;
}


/* ----------------------------------- MODAIS ----------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.conteudoModal {
    background-color: #172231;
    float: right;
    margin: 5% 5% 0 0;
    padding: 24px;
    border-radius: 10px;
}

.fechar {
    color: #5A5A5A;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.fechar:hover,
.fechar:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tituloModal {
    font-size: 28px;
    margin-top: 0px;
    border-bottom: 2px #B1925D solid;
    width: fit-content;
    padding-right: 32px;
}

.label-float {
    position: relative;
    padding-top: 13px;
}

#modalLogin .label-float:nth-child(3) {
    margin-bottom: 2px;
}

.label-float input {
    border: 1px solid lightgray;
    background-color: #172231;
    color: white;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    padding: 10px 6px;
    width: 280px;
    font-size: 14px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}

.label-float input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #172231 inset;
    -webkit-text-fill-color: white !important;
}

.label-float input:focus {
    border: 2px solid #B1925D;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    font-size: 13.3333px;
    font-weight: 400;
    left: 6px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: #172231;
    color: white;
    padding: 7px;
    box-sizing: border-box;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 10px;
    top: 0;
    color: #B1925D;
}

#modalLogin a {
    color: #B1925D;
    font-size: 11px;
    margin-left: 4px;
    text-decoration: none;
}

#modalUsuario .conteudoModal {
    min-width: 160px;
}

#modalUsuario h1 {
    margin-bottom: 0;
}

.btnModal {
    width: 294px;
    height: 38px;
    margin: 0;
    border: #B1925D 2px solid;
    border-radius: 5px;
    font-weight: bold;
    color: #172231;
    margin-top: 24px;
    background-color: #B1925D;
    cursor: pointer;
}

.btnModalBranco {
    color: #B1925D;
    margin-top: 3px;
    background-color: #172231;
}

#btnSair {
    width: 96px;
    height: 38px;
    margin: 0;
    border: #ff4848 2px solid;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    background-color: #ff4848;
    cursor: pointer;
    float: right;
}


/* ----------------------------------- HOME ----------------------------------- */

.home {
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 86px;
    padding-bottom: 22px;
}

.bemVindo {
    font-size: 36px;
    padding-top: 224px;
    color: #FFFFFF;
}

.titulo {
    color: #F4246F;
}

.descobrir {
    margin-top: 71px;
    width: 200px;
    height: 56px;
    background: rgba(196, 196, 196, 0.16);
    border: 3px solid #FFFFFF;
    border-radius: 80px;
    color: #FFFFFF;
    margin-bottom: 82px;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.corLateral {
    background-color: #172231CC;
    width: 0;
    height: 56px;
    border-radius: 80px;
    text-align: center;
    transition: 0.3s;
    vertical-align: middle;
}

.descobrir:hover .corLateral {
    width: 100%;
}

.corLateral:hover {
    width: 100%;
}

.descobrir span {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 45px;
}

.divCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -32px;
}

.divCards a {
    text-decoration: none;
}

.card {
    width: fit-content;
    border: 2px solid #B1925D;
    box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
    padding: 82px 26px 0 26px;
    padding-bottom: 47px;
    margin: 0 16px 32px 16px;
    bottom: 0;
    position: relative;
    transition: bottom 1s ease;
    cursor: pointer;
}

.card p {
    color: #FFFFFF;
    width: 360px;
    margin: 0;
    margin-top: 1px;
}

.card h1 {
    margin: 0;
}

#historiaCard {
    background: linear-gradient(180deg, rgba(23, 34, 49, 0) 0%, #172231 100%), url(../img/historia.svg);
}

#gameCard {
    background: linear-gradient(180deg, rgba(23, 34, 49, 0) 0%, #172231 100%), url(../img/game.svg);
}

#dicasCard {
    background: linear-gradient(180deg, rgba(23, 34, 49, 0) 0%, #172231 100%), url(../img/mundos.svg);
}

#arenasCard {
    background: linear-gradient(180deg, rgba(23, 34, 49, 0) 0%, #172231 100%), url(../img/arenas.svg);
}

#lendasCard {
    background: linear-gradient(180deg, rgba(23, 34, 49, 0) 0%, #172231 100%), url(../img/lendas.jpg);
    background-size: cover;
}

.card:hover {
    bottom: 20px;
}


/* ----------------------------------- FOOTER ----------------------------------- */

.footer {
    width: 100%;
    background-color: #172231;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.footer .horizontal {
    display: flex;
    flex-direction: row;
    width: 144px;
    justify-content: space-between;
    justify-self: center;
    text-align: center;
    margin: auto;
}

.icones {
    border-radius: 15px;
    height: 24px;
    width: 24px;
    margin-bottom: 12px;
}

.icones:hover {
    background-color: #FFFFFF11;
    transition: 0.5s;
}

.footer p {
    color: #FFFFFF;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
}

.footer p a {
    color: inherit;
}

.footer p a:hover {
    color: #5A5A5A;
}


/* ----------------------------------- HISTÓRIA ----------------------------------- */

.historia {
    margin-top: 86px;
    padding-top: 32px;
}

.historia h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}

.sets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 64px 0;
}

.textoDireita {
    flex-wrap: wrap-reverse;
}

.textos {
    min-width: 365px;
    width: 47.5%;
    padding-bottom: 8px;
}

.textos h3 {
    color: #172231;
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.textos p {
    margin: 0;
}

.imagemSet {
    width: 47.5%;
    height: fit-content;
    min-width: 400px;
    border: 2px solid #B1925D;
    box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
    height: cover;
    display: flex;
    align-self: center;
}


/* ----------------------------------- DICAS ----------------------------------- */

.dicas {
    margin-top: 86px;
    padding-top: 32px;
}

.dicas h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}

.mundo {
    margin: 64px 0;
}

.mundo h3 {
    color: #172231;
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.mundo p {
    margin: 0;
    margin-bottom: 16px;
}

.mundo iframe,
.mundo img {
    border: #B1925D 2px solid;
}


/* ----------------------------------- ARENAS ----------------------------------- */

.arenas {
    margin-top: 86px;
    padding-top: 32px;
}

.arenas h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}

.arenas .horizontal {
    display: flex;
    flex-flow: row wrap;
}

.arenas .horizontal p {
    width: 45%;
}

.ranking {
    max-width: 50%;
    margin-left: 64px;
    border-bottom: 1px black solid;
    padding-right: 32px;
}

.ranking h3 {
    margin-top: 0;
}

.barrasRanking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 128px;
    text-align: center;
}

.barrasRanking div {
    width: 32px;
}

.barrasRanking b {
    padding-top: 16px;
    overflow-wrap: break-word;
}

.legendaRanking div {
    width: 12px;
    height: 12px;
    margin: 4px 4px 0 32px;
    border: black 1px solid;
    float: left;
}

.classe {
    margin: 64px 0;
}

.arenasClasse {
    display: flex;
    flex-flow: row wrap;
}

.imgArena {
    width: 192px;
    height: 192px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #B1925D;
    box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
    margin: 0 8px 16px 8px;
    cursor: pointer;
}

.estrela {
    color: #FFFFFF;
    position: absolute;
    font-size: 32px;
    margin-bottom: 148px;
    margin-left: 144px;
    display: block;
}

.estrelaCheia {
    display: none;
    position: absolute;
    font-size: 32px;
    margin-bottom: 148px;
    margin-left: 144px;
    color: gold;
}

.imgArena b {
    color: #FFFFFF;
    margin-bottom: 8px;
    text-align: center;
}


/* ----------------------------------- PEQUENAS LENDAS ----------------------------------- */

.lendas {
    margin-top: 86px;
    padding-top: 32px;
}

.lendas h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}

.lendas .horizontal {
    display: flex;
    flex-flow: row wrap;
}

.lendas .horizontal p {
    width: 45%;
}

.especie {
    margin: 64px 0;
}

.lendasEspecie {
    display: flex;
    flex-flow: row wrap;
}

.imgLenda {
    width: 192px;
    height: 192px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #B1925D;
    box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
    margin: 0 8px 16px 8px;
    cursor: pointer;
}

.imgLenda b {
    color: #FFFFFF;
    margin-bottom: 8px;
    text-align: center;
}


/* ----------------------------------- SOBRE ----------------------------------- */

.sobre {
    margin-top: 86px;
    padding-top: 32px;
    min-height: calc(100vh - 86px);
}

.sobre h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}


/* ----------------------------------- GAME ----------------------------------- */

.game {
    margin-top: 86px;
    padding-top: 32px;
}

.game h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    border-bottom: #B1925D 2px solid;
    width: fit-content;
    padding-right: 32px;
}

.jogo {
    background: url(../img/choncc.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px;
    margin: 64px 0;
}

.jogo b {
    color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    background-color: #00000066;
}

.jogo .meio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    margin: 64px 0;
    height: 176px;
}

.jogo .meio button {
    border: #B1925D 2px solid;
    border-radius: 5px;
    font-weight: bold;
    color: #172231;
    background-color: #B1925D;
    cursor: pointer;
    font-size: 48px;
    height: 76 px;
    width: 208px;
}

.jogo .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardAlimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    background-color: #172231;
    width: fit-content;
    border: 2px solid #B1925D;
    box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
    width: 192px;
}

.cardAlimento img {
    height: 64px;
}

.cardAlimento b {
    color: #F4246F;
    background-color: transparent;
    padding: 0;
}

.btnAlimento {
    border: #B1925D 2px solid;
    border-radius: 5px;
    font-weight: bold;
    color: #172231;
    background-color: #B1925D;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
}

.btnDesativado {
    background-color: transparent;
    color: #B1925D;
    cursor: wait;
}